:root {
    --max-players: 8;

    --background-white: #f7fff7;
    --leaderboard-player-background: beige;

    --border-radius: 0.5em;
    --border-radius-tool: 0.1em;

    --column: calc(100vw / 7);

    --leaderboard-width-full: calc(var(--column) * 1.5);

    --leaderboard-player-holder-border: 2px;
    --leaderboard-player-holder-height: calc(
        (100% / var(--max-players)) -
        (var(--leaderboard-player-holder-border) / 2)
    );
    --leaderboard-player-image-width: calc(100% * 0.65);

    --word-display-height: 3em;

    --canvas-holder-height-max: calc(87vh + 3em);
    --canvas-width-max: min(45vw, 80vh);
    --canvas-width-full: calc((var(--column) * 4) - 3em);

    --chat-width-full: calc(var(--column) * 2.5);
}

body {
    margin: 0;
    padding: 0;
    background: gray;
    font-family: Tahoma, sans-serif;

    /* font-family: "Nanum Pen Script", serif;
    font-weight: 400;
    font-style: normal; */
}

main {
    display: flex;
}

#leaderboard-holder {
    width: var(--leaderboard-width-full);
    max-height: var(--canvas-holder-height-max);
    margin: 1em;
    background: var(--background-white);

    border-radius: var(--border-radius);
    border: 1px solid darkred;

    overflow: hidden;
}

.leaderboard-player-holder {
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--leaderboard-player-holder-height);
    background: var(--leaderboard-player-background);
    border-bottom: var(--leaderboard-player-holder-border) solid darkred;
}

.leaderboard-player-image {
    height: var(--leaderboard-player-image-width);
    aspect-ratio: 1 / 1;
    background: red;
    border-radius: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.leaderboard-player-data {
    width: 100%;
    margin-right: 0.5em;
}

.leaderboard-player-data p {
    margin: 0;
}

.leaderboard-player-name {
    font-size: 1.3cqw;
}

.leaderboard-player-score {
    font-size: 1.6cqw;
    padding-left: 1em;
}

#word-display {
    height: var(--word-display-height);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2cqw;
}

.letter-box {
    height: 1em;
    width: 1em;

    border-bottom: 3px solid darkred;

    margin: 0 0.3em 0 0.3em;
    padding-bottom: 0.1em;

    text-align: center;
    color: rgb(77, 0, 0);
}

#canvas-holder {
    max-height: var(--canvas-holder-height-max);
    margin: 1em;
    display: inline-block;

    background: red;
    border: 1px solid darkred;
    border-radius: var(--border-radius);
}

#canvas {
    margin: 0;
    /* border: 1px solid black; */
    background: var(--background-white);

    max-width: var(--canvas-width-max);
    width: var(--canvas-width-full);

    aspect-ratio: 1 / 1;

    /* max-height: var(--canvas-width-max);
    height: var(--canvas-width-full); */
}

#toolbox {
    height: 3em;
    display: flex;
}

#toolbox-tools {
    display: flex;
    align-items: center;
    margin: 0 0.5em 0 0.5em;
}

#toolbox-colors {
    display: flex;
    flex: 1 1 calc(100% / 9);
    flex-wrap: wrap;
    margin: 0.4em 0.5em 0.4em 0.5em;
}

.toolbox-tool {
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    margin: 0.3em;

    border: 1px solid black;
    border-radius: var(--border-radius-tool);
}

.toolbox-tool img {
    width: 100%;
    height: 100%;
}

.toolbox-color {
    flex: 1 1 calc(100% / 9);
    display: inline-block;

    margin: 0.02em;

    border: 1px solid black;
    border-radius: var(--border-radius-tool);
}

#chat-holder {
    margin: 1em;
    width: var(--chat-width-full);
}

#chat-holder-messages {
    max-height: calc(var(--canvas-width-max) + 5em);
    height: calc(var(--canvas-width-full) + 5em);
    overflow-y: scroll;

    background: var(--background-white);
    border: 1px solid darkred;
    border-bottom: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    font-size: 1.3cqw;
}

#chat-holder-textbox {
    display: flex;
    align-items: center;
    background: var(--background-white);

    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: 1px solid darkred;
    border-top: 0;
}

#chat-textbox {
    width: 90%;

    padding: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.2em;

    border: 0;
    border-bottom: 1px solid gray;
    outline: none;
}

#chat-holder p {
    margin: 0.5em 0.4em 0 0.4em;
}

.guessed {
    font-weight: 800;
}

.player-red {
    color: red;
}

.player-blue {
    color: blue;
}

.player-yellow {
    color: gold;
}

.player-green {
    color: green;
}

@media (max-width: 1000px) {
    #leaderboard-holder, #canvas-holder, #chat-holder{
        margin: 0.5em;
    }

    .toolbox-tool {
        width: 1.5em;
        height: 1.5em;
    }
}

@media (max-width: 900px) {
    #leaderboard-holder, #canvas-holder, #chat-holder{
        margin: 0.2em;
    }

    .toolbox-tool {
        width: 1.2em;
        height: 1.2em;
        margin: 0.15em;
    }
}
