:root {
    --max-players: 8;

    --background-white: #f7fff7;
    --leaderboard-player-background: beige;

    --border-radius: 0.5em;

    --column: calc(100vw / 7);

    --leaderboard-width-full: calc(var(--column) * 1.5);
    --leaderboard-player-holder-border: 2px;
    --leaderboard-player-holder-height: calc(
        (100% / var(--max-players)) -
        (var(--leaderboard-player-holder-border) / 2)
    );
    --leaderboard-player-image-width: calc(100% * 0.65);

    --canvas-width-max: min(45vw, 80vh);
    --canvas-width-full: calc(var(--column) * 4);

    --chat-width-full: calc(var(--column) * 2.5);
}

body {
    margin: 0;
    padding: 0;
    background: gray;
}

main {
    display: flex;
}

#leaderboard-holder {
    width: var(--leaderboard-width-full);
    margin: 1em;
    background: var(--background-white);

    border-radius: var(--border-radius);
    border: 1px solid darkred;

    overflow: hidden;
}

.leaderboard-player-holder {
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--leaderboard-player-holder-height);
    background: var(--leaderboard-player-background);
    border-bottom: var(--leaderboard-player-holder-border) solid darkred;
}

.leaderboard-player-image {
    height: var(--leaderboard-player-image-width);
    aspect-ratio: 1 / 1;
    background: red;
    border-radius: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.leaderboard-player-data {
    width: 100%;
    margin-right: 0.5em;
}

.leaderboard-player-data p {
    margin: 0;
}

.leaderboard-player-score {
    font-size: 1.3em;
    padding-left: 1em;
}

#canvas {
    margin: 2em 0em 2em 0em;
    /* border: 1px solid black; */
    background: var(--background-white);

    max-width: var(--canvas-width-max);
    width: var(--canvas-width-full);

    max-height: var(--canvas-width-max);
    height: var(--canvas-width-full);
}

#canvas-holder {
    margin: 1em;
    display: inline-block;

    background: red;
    border: 1px solid darkred;
    border-radius: var(--border-radius);
}

#chat-holder {
    width: var(--chat-width-full);
    margin: 1em;

    background: var(--background-white);
    border: 1px solid darkred;
    border-radius: var(--border-radius);
}
